body{
	background-image: url("weather.png");
}


h1{
	background:orange;
	padding: 10px;
	float: left;
	color: white;
}

#rules{
	background:beige;
	color:green;
	padding: 10px;

}

#random-number{
	background:#3dd059;
	font-size: 20px;
	padding: 20px;
	margin-top: 20px;
	color: white;
}


#counter{
	background:turquoise;
	padding: 20px;
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

#match{
	background: #317ec1;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;
	color: white;
}


